@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0)
  }

  &__body {
    & * {
      word-break: keep-all;
    }
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }

      }

    }

    & ul {
      li {
        p {margin: 0;}
      }
      & ul {
        @include margin-top(0.5);
        @include margin-bottom(0.5);
      }
    }

    & a {
      font-weight: 500;
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }

    & img {
      max-width: 100%;
    }

    h2 {
      @include padding(0,0,.3,0);
      border-bottom: .12em solid #4a568c;
    }

    h3, h4 {
      &:before {
        margin-right: .3em;
        font-weight: 700;
        color: #0d2bab;
      }
    }

    h3 {
      &:before {
        content: '#';
      }
    }

    h4 {
      &:before {
        font-weight: 500;
        content: '##';
      }
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 3;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        // @include margin-bottom(1.125);
      }

    }

  }

}